snippet article
	@article{${1},
		author = {${2}},
		title = {${3}},
		subtitle = {${4}},
		journal = {${5}},
		address = {${6}},
		volume = {${7}},
		number = {${8}},
		pages = {${9}},
		year = {${10}},
		url = {${11}},
		doi = {${12}},
		urldate = {${13}},
		issn = {${14}},
	}
	${0}

snippet news
	@article{${1},
		author = {${2}},
		title = {${3}},
		journal = {${4}},
		address = {${5}},
		date = {${6}},
		url = {${7}},
		urldate = {${8}},
	}
	${0}
